.modal {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

.modalDialog {
  background-color: aliceblue;
  padding: 10px;
  min-width: 30%;
  max-width: 90%;
  min-height: 50%;
  max-height: 90%;
  border-radius: 2%;
  overflow-y: scroll;
}

.modalOpen {
  display: flex;
}

.closeDialog {
  position: relative;
  left: 97%;
  background-color: transparent;
  border: none;
  border-radius: 70%;
}

.closeDialog:hover {
  background-color: #eb97c8;
  color: black;
}

.product {
  width: 94%;
  height: 6rem;
  background-color: white;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  border-radius: 10px;
  margin-top: 1%;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  background-color: rgb(242, 75, 225);
  color: rgb(4, 4, 4);
  cursor: pointer;
  min-width: 80px;
}

.right {
  background-color: white;
  margin-inline: 1%;
  width: 100px;
}

.product > img {
  top: 3rem;
  width: 12%;
  height: 100%;
  margin-right: 2%;
}

.quantity {
  position: relative;
  margin-left: 6%;
  width: 70px;
  text-align: center;
}

.quantity :nth-child(1) {
  position: relative;
  top: 40%;
  border: none;
  border-radius: 15%;
}
.quantity :nth-child(2) {
  position: relative;
  top: 40%;
}
.quantity :nth-child(3) {
  position: relative;
  top: 40%;
  border: none;
  border-radius: 15%;
}
.totalAndPay {
  display: flex;
  height: 10%;
  margin-top: 2%;
}

.totalAndPay :nth-child(1) {
  position: relative;
  left: 35%;
  font-weight: bolder;
  font-size: larger;
}

.payButton {
  position: relative;
  left: 45%;
  background-color: #d64e9e;
  color: white;
  border: none;
  border-radius: 10%;
  font-weight: bolder;
  padding-inline: 5%;
  cursor: pointer;
}

.payButton:hover {
  background-color: #d77db2;
}

.trashIcon {
  color: #d64e9e;
}
.trashIcon:hover {
  color: red;
}

@media (max-width: 600px) {
  .totalAndPay :nth-child(1) {
    position: relative;
    left: 25%;
    font-weight: bolder;
    font-size: larger;
  }

  .payButton {
    position: relative;
    left: 30%;
    background-color: #d64e9e;
    color: white;
    border: none;
    border-radius: 10%;
    font-weight: bolder;
    padding-inline: 5%;
  }

  .payButton:hover {
    background-color: #d77db2;
  }
}

@media (max-width: 300px) {
  .totalAndPay {
    display: inline-block;
  }
}
